@media (max-width: 1024px) {
    .footer-cont {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
<<<<<<< HEAD

    .tabs {
        width: 43%;
    }

    .plant-icon {
        width: 50%;
    }

    .content {
        text-align: center;
        width: 100%;
        margin: 0% 0% 6% 0% ;
    }
    .leaf{
        width: 50%;
        justify-content: center;
    }
    .relax-img{
        display: none;
    }
    .fruits-img{
        display: none;
    }
    .leaf p{
        text-align: center;
        align-items: center;
        margin: auto;
        
    }

}

@media(max-width:480px) {

    .fresh {
        display: flex;
        flex-direction: column;
    }

    .content-fresh {
        width: 100%;

    }

    .img-fresh {
        width: 100%;
    }

    .head-fresh {
        text-align: center;
    }

    .head-fresh h3 {
        font-size: 39.7px;
    }
    .right-side , .left-side{
        
        flex-direction: column;
    }
    .leaf {
        width: 85%;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    
    .content h3{
        font-size:50px;
        line-height: 1.7;
    }

    .banner p {
        display: none;
        
    }

    .plant-icon {
        width: 100%;
    }

    .bg-img {
        background-size: 100% 45%;
    }



=======
}

@media(max-width:480px) {
>>>>>>> 727bf22dc037e7b04f1f5dc2fe2ed9c66db399bc
    footer .container {
        width: 60%;
        padding: 2%;
    }

<<<<<<< HEAD

=======
>>>>>>> 727bf22dc037e7b04f1f5dc2fe2ed9c66db399bc
    .footer-cont {

        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    footer .tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 10px 0;

    }

    footer .tabs li {
        flex: 0 0 50%;
        text-align: left;
    }

    footer .social-icons {
        gap: 20px;
        margin-top: 10px;
    }

}



@media (max-width: 768px) {
    nav .tabs {
        display: none !important;
    }

    .bars {
        display: block !important;
    }

    .bars i {
        font-size: 24px;
        color: #3E3E3E;
        display: block;
    }

    .container {
        width: 95%;
        padding: 3%;
    }

    .head h1 {
        font-size: 37.9px;
        line-height: 47px;
    }

    .head-img {
        flex-direction: column;
    }

    .img-box {
        width: 90%;
        height: 100%;
        margin-top: 5%;
    }

    .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

<<<<<<< HEAD
    .fresh {
        align-items: flex-start;
    }

=======
>>>>>>> 727bf22dc037e7b04f1f5dc2fe2ed9c66db399bc
}