*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
a{
    text-decoration: none;
    text-align: center; 
    color: inherit;
    
}
ul{
    list-style: none;
}
.bg-light{
    background-color: #F4F4F4;
    border-radius: 6px;
}

.container{
    width: 90%;
    margin:auto;
    padding: 1%;
}
.d-flex{
    display: flex;
}
.justify-content-between {
    justify-content: space-between;

}
.align-items-center{
    align-items: center;

}

.padding-top-bottom{
    padding: 16px;
}

p{
    color: #2B2B2B;
    font-size: 16px;
    font-weight: 400;
    margin: 16px;
    line-height: 24px;
}


.oval-btn{
    display: inline-flex;     
    align-items: center;      
    justify-content: center;
    text-align: center;
    padding: 16px 80px;
    background-color: #285E67;
    color: white;
    border-radius: 25px;
    font-weight: 500;
}



.circle{
 background-color: #D0D0D0;
 width: 26px; 
 height: 26px;
 border-radius: 50%;
 
}
.logo h5{
    margin-left:10px;
    color: #285E67;
    font-size: 22px;
    font-weight: 600;
}
.tabs{
    flex-direction: row;
    width: auto;
    gap: 30px;
    
}
.tabs li{
    padding: 10px 0;
    padding: 3% 0;
    font-size: 16px;
    font-weight: 400;
    color: #2B2B2B;
    
    
}
.bars{
    display: none;
}
.head{
    padding: 5% 0; 
    width: 100%;
    text-align: center;
}
.head h1{
    font-size: 65.34px;
    font-weight: 600;
    color: #2A2A2A;
    line-height: 82px;
    margin: 0 auto;
    max-width: 100%;
}

.head-img{
    width: 100%;
    flex-wrap: wrap;
}

.img-box {
    width: 50%;
    padding: 1%;
}
.img-box img{
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content{
   width: 55%;
   padding: 3%
}
.content h3{
    font-size:50.52px ;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 40px;

}
.leaf{
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    

}
.leaf i{
    
    border-radius: 9px;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 80px;

}
.left-side i{
    background-color:#285E67 ;
}
.right-side i{
    background-color:#EBBFAE ;
    color: black;
}
.relax-img{
    width: 40%;
}
.relax-img img{
    width: 100%;
}


footer{
    background-color: #285E67;
    color: white;
    padding: 1%;
}
footer .tabs a,footer .logo h5{
    color: white;
}
.footer-cont{
    width: 100%;
    margin: 30px 0;
}
.social-icons{
    display: flex;
    margin: 3% 0;
}
.social-icons i{
    font-size: 24px;
    padding: 2px;
    color: white;
}

.social-icons {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    justify-content: flex-start;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: transparent;

}










